// VALUE
$ten : 10px;
$tw : 20px;
$th : 30px;
$ft : 40px;
$ff : 50px;
$i : !important;

// TYPOGRAPHY
$opensans : 'Open Sans', sans-serif;
$oswald : 'Oswald', sans-serif;
$bold : bolder;

// COLOR
$white : #fdfdfd;
$pcolor : #3C3176;
$pdcolor : darken($pcolor, 10);
$scolor : #847DB0;
$tcolor : #10083C;
$black : #000001;