
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Oswald);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar { 
	background-color : $pcolor $i;
	a {
		color : $white $i;
	}
	.active a{
		background-color : $pdcolor $i;
	}
	.container {
		color : $white $i;
	}
	.footer {
		padding : $tw;
	}
}